*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
      font-family: 'Poppins', sans-serif;
      background-image: url(bg.jpg);
      background-size: cover;
  }
  
  .ma{
      margin-top: 5%;
    
  }

  .text-center{
      position: relative;
      margin: auto;
      font-family: 'Poppins', sans-serif;
      color: #ffffff;
  }


  #Facebook{
      background: rgb(240, 69, 69);
      color: #ffffff;
     
  }

   #Google{
    background: rgb(240, 69, 69);
    color: #ffffff;
}
  
  #signUp{
      /*width: 380px;*/
      /*height: 480px;*/
      position: relative;
      margin: 6% auto;
      background: transparent;
      /*padding: 300px 5px 100px 5px;*/
      overflow: hidden;
  
  }
  
  
  #login{
      /*width: 380px;*/
      /*height: 480px;*/
      position: relative;
      margin: 6% auto;
      background: transparent;
      /*padding: 300px 5px 100px 5px;*/
      overflow: hidden;
  }